* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} /*меняет ширину блока, чтобы было удобно верстать*/
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
} /*убрали линию обводки у некоторых браузеров*/

nav,
footer,
header,
aside {
  display: block;
} /*делает эти элементы блочными*/

html,
body {
  height: 100%; /*Обязательно!*/
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
} /*уравнивают поведение шрифтов и элементов для разных браузеров, в т.ч. запрещают увеличение шрифта на телефоне*/

input,
button,
textarea {
  font-family: inherit;
} /*чтобы наследовали шрифты (поумолчанию в браузерах не наследуются)*/

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
/*a:hover {
  text-decoration: none;
}*/
ul li {
  list-style: none;
}
img {
  vertical-align: top;
} /*устранили недостатки некоторых браузеров*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*-------------------------------------------------------*/
.wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto Slab";
}
/*----------------------------Intro------------------------*/
.intro {
  width: 100%;
  height: 100vh;
  background: url("../img/fon.png") no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.intro img {
  width: 100%;
  height: 100vh;
}
/*-------------------Header-------------------------*/
.intro-content {
  width: 1140px;
  height: 200%;
  margin-top: -22.2%;
}
.header-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 27%;
}
.header-logo {
  padding-right: 20px;
  left: 0;
}
.header-logo a {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
}
.header-menu ul {
  display: flex;
  width: 47.4%;
  right: 0;
}
.header-menu__item {
  display: inline-block;
  margin-left: 20px;
}
.header-menu__item a {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}
/*--------------------------------------------------*/
.intro-inner {
  margin-top: -64px;
}
.intro-title {
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 400;
}
.intro-title h1 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.intro-buton {
  display: inline-block;
  margin-top: 50px;
  padding: 18px 34px;
  border: 2px solid #ffffff;
}
.intro-buton a {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
/*-----------------service-------------------*/
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.top-title {
  margin-top: 100px;
  position: relative;
  color: #555555;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.top-line {
  width: 50px;
  height: 2px;
  background-color: #555555;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 28px;
}

.top-text {
  color: #555555;
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 70px;
}
.service-content {
  display: flex;
  margin-bottom: 100px;
}
.service-col {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 22px;
}
.col__img {
  margin-bottom: 29px;
}
.col__img img {
  width: 90px;
  height: 90px;
}
.col__title {
  margin-bottom: 24px;
  color: #555555;
  font-family: Montserrat;
  text-transform: uppercase;
}
.col__text {
  color: #555555;
}
/*-------------------about-------------------*/
.about {
  background-color: #f8f8f8;
}
.about-col {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.about-col__text {
  color: #555555;
  line-height: 24px;
  width: 48.5%;
}
.about-slider {
  display: flex;
  justify-content: space-between;
}
.about-col__item {
  text-align: center;
  margin-bottom: 100px;
}
.item__image img {
  width: 263px;
  height: 250px;
  margin-bottom: 20px;
}
.item__name {
  color: #555555;
  font-family: Montserrat;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.item__prof {
  color: #555555;
  font-size: 13px;
}
/*----------------------works-----------------------*/
.works .top-text {
  word-spacing: 20px;
}
.works a {
  color: #555555;
  font-size: 16px;
}
.works a:hover {
  color: #c0301c;
}
.w-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.works-block img {
  width: 360px;
  height: 320px;
}
/*-------------------------project-----------------------*/
.project {
  background: url("../img/project-fon.png");
  text-align: center;
}
.project-title {
  margin-top: 70px;
  padding-top: 92px;
  color: #ffffff;
  font-size: 30px;
  line-height: 44px;
  margin-bottom: 46px;
}
.project-buton {
  display: inline-block;
  border: 2px solid #ffffff;
  padding: 0 27px;
  margin-bottom: 100px;
}
.project-buton a {
  color: #ffffff;
  font-size: 18px;
  line-height: 44px;
  text-transform: uppercase;
}
/*--------------------------blog----------------------*/
.blog-content {
  margin-top: -38px;
  margin-bottom: 100px;
}
.blog-row {
  display: flex;
  margin: 38px 0;
}
.blog-line {
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}
.blog-row__img img {
  width: 460px;
  height: 322px;
  margin-right: 40px;
}
.blog-row__inner {
  display: flex;
  flex-direction: column;
}
.inner__top {
  display: flex;
}
.inner__top-date {
  color: #777777;
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  padding: 20px;
  border: 1px solid #777777;
  text-align: center;
  margin-bottom: 18px;
  margin-right: 25px;
}
.inner__top-date span {
  font-size: 24px;
  letter-spacing: 2.4px;
}
.inner__top-name h3 {
  color: #c0301c;
  font-family: Montserrat;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 18px;
  margin-top: 15px;
}
.inner__top-name span {
  color: #c0301c;
  font-size: 13px;
  font-style: italic;
}
.inner__top-name p {
  color: #777777;
  font-size: 13px;
  font-style: italic;
}
.inner__text {
  color: #555555;
  line-height: 24px;
}
.inner__text span {
  color: #c0301c;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}
/*----------------slider-----------------*/
.slider {
  background-color: #f8f8f8;
  text-align: center;
  padding: 100px 0;
}
.reclama {
  word-spacing: 60px;
  margin-bottom: 62px;
}
.slider-slider p {
  color: #555555;
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
}
.slider-slider span {
  font-size: 20px;
  line-height: 100px;
  font-style: normal;
}
/*------------------forms-----------------------------*/
.forms-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.c-item {
  display: flex;
  width: 235px;
  margin-bottom: 33px;
}
.c-img {
  margin-right: 14px;
}
.contacts-title {
  color: #555555;
  font-family: Montserrat;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.contacts-text {
  color: #555555;
  font-size: 12px;
  line-height: 20px;
}
.f-forms input,
textarea {
  color: #555555;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  line-height: 40px;
  margin-left: 17px;
  background-color: #fff;
}

#user:focus,
#user3:focus,
#user4:focus {
  border: 1.5px solid #c0301c; /* Параметры рамки */
}

.f-row {
  display: flex;
}

#user {
  margin: 0 14px 20px 14px;
  display: inline-block;
  width: 350px;
  height: 44px;
  border: 1px solid #555555;
}
#user3 {
  margin: 0 14px 20px 14px;
  display: inline-block;
  width: 730px;
  height: 104px;
  border: 1px solid #555555;
}

.f-row4 {
  display: flex;
}

#user4 {
  display: inline-block;
  width: 170px;
  height: 44px;
  border: 1px solid #555555;
}
.f-row4__text p {
  margin: 16px 24px;
  display: inline-block;
  color: #555555;
  font-size: 12px;
}
.f-row4 span {
  color: #c0301c;
}

/*-------------------footer--------------------------*/
.footer {
  background-color: #c0301c;
  text-align: center;
  padding: 100px 0;
}
.footer-line {
  width: 50px;
  height: 2px;
  background-color: #ffffff;
  margin: 30px auto;
}
.footer-text {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}
